@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.github {
  top: 0;
  right: 0;
  transition: all 0.5s;
  height: 100%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.9);
}

.github img {
  width: 50px;
}

.certificates {
  display: flex;
  height: 50vh;
  transition: all 2s;
}

.certificates .certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificates .certificate img {
  width: 450px;
  height: 300px;
}

@media only screen and (max-width: 550px) {
  .certificates .certificate img {
    width: 300px;
    height: 250px;
    object-fit: contain;
  }
}
